<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container text-center">

<h1>What is Password Generation?</h1>
<p>A password generator is a process that uses a software that creates random or customized passwords for users. It helps users create stronger passwords that provide greater security for a given type of access.</p>
<br>
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-warning"> Home </a>
</div>
